{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Login Page | BookHub</title>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="col-md-5">
          <img src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg" alt="" />
        </div>
        <div class="col-md-7 p-4">
            <h3 class="mx-auto w-50 text-center pb-2 border-bottom border-info my-4">Login To Your Account</h3>
            <form class="w-50 mx-auto mt-5 p-5 shadow" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                
                <div class="d-grid gap-2 mt-4">
                    <button class="reg-button mb-2 mt-2 py-2">
                      <i class="fa-solid fa-user-check"></i>
                        Login</button>
                </div>
                <small>New User? Register <a href="{% url 'register' %}">here</a></small>
                
              </form>
        </div>
      </div>
  </div>


{% endblock %}
