{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Login Page | BookHub</title>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="col-md-5">
          <img src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg" alt="" />
        </div>
        <div class="col-md-7 p-4">
            <h3 class="mx-auto w-50 text-center pb-2 border-bottom border-info my-4">Login To Your Account</h3>
            <form class="w-50 mx-auto mt-5 p-5 shadow" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2 mt-5">
                    <button class="btn btn-outline-success mb-5 mt-2 py-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                          </svg>
                        Login</button>
                </div>
              </form>
        </div>
      </div>
  </div>


{% endblock %}
