{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Register Page | BookHub</title>
{% endblock %} 

{% block content %}
  <div class="container">
    <h1 class="w-50 mx-auto text-center p-3 border border-info mt-5">Register your account Here</h1>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 p-4">  
            <form class="mx-auto mt-5 p-5 shadow" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2 mt-5">
                    <button class="btn btn-outline-success mb-5 mt-2 py-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                      Resgister</button>
                </div>
              </form>
        </div>
        <div class="col-md-6">
          <img class="w-100" src="https://img.freepik.com/free-vector/sign-up-concept-illustration_114360-7895.jpg" alt="" />
        </div>
      </div>
  </div>
{% endblock %}
