{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Add Category Page | JokesHub</title>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h1 class="w-50 mx-auto text-center p-3 border-bottom border-top border-info mt-5">Add a new category</h1>
    <div class="row">
      <div class="col-md-7">
        <img class="w-100" src="https://img.freepik.com/free-vector/processing-concept-illustration_114360-280.jpg" alt="" />
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <form class="w-100 mx-auto mt-5 p-4 shadow" method="post">
          {% comment %} <h3 class="text-center pb-2 border-bottom border-info mb-4">Add new Category</h3> {% endcomment %}
          {% csrf_token %}
          {{ form|crispy }}
          <small class="text-warning"><i>Note: slug field cannot contain any space! Example: Name: blond joke Slug: blond-joke</i></small>
          <br />
          <button class="reg-button mb-5 mt-2 px-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
