{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row d-flex justify-content-center align-items-center ">
    <div class="col-md-6">
      <h1 class="text-primary border-bottom border-info border-top py-3 text-center">|| JokesHub || <br> Meet with humourous people!</h1>
      <br>
      <p>We all are busy with our daily life. So it's obvious we get tired of our daily life. So every once in a while we need to give ourself some quality time. We created JokesHub for that sole purpose. Members can share funny jokes here so we can laugh out loudly. Its not only fun but also good for our health.</p>
      <p>Welcome to <span class="text-primary">JokesHub</span>, your premier destination for laughter and entertainment. As pioneers in the realm of humor, we curate a collection of the finest jokes and humorous content to brighten your day. With a dedication to spreading joy and laughter, our team is committed to delivering top-notch comedic experiences that leave you smiling. From classic jokes to witty observations, we aim to tickle your funny bone and uplift your spirits. Join us on a laughter-filled journey where humor knows no bounds. Discover the joy of laughter with us.</p>
    </div>
    <div class="col-md-6">
      <img class="w-100" src="https://img.freepik.com/free-vector/demand-insurance-service-digital-insurer-mobile-app-innovative-business-model-female-customer-ordering-insurance-policy-online_335657-2536.jpg" alt="">
    </div>
  </div>
</div>

<!-- About 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="https://img.freepik.com/free-photo/business-people-teamwork_53876-89051.jpg" alt="About 1">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="mb-3 text-primary">Who Are We?</h2>
            <p class="lead fs-4 text-secondary mb-3">We help people to build incredible self confidence. Our perspective is to furnish outstanding captivating services.</p>
            <p class="mb-5">We are a fast-growing company, but we have never lost sight of our core values. We believe in collaboration, innovation, and customer satisfaction. We are always looking for new ways to improve our products and services.</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                      <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                  </div>
                  <div>
                    <h2 class="h4 mb-3">Versatile Brand</h2>
                    <p class="text-secondary mb-0">We are crafting a digital method that subsists life across all mediums.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                      <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                    </svg>
                  </div>
                  <div>
                    <h2 class="h4 mb-3">Digital Agency</h2>
                    <p class="text-secondary mb-0">We believe in innovation by merging primary with elaborate ideas.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="schedule-section section-padding" id="section_4">
  <div class="container">
    <h1 class="w-50 mx-auto text-center p-3 border border-info mt-5">Our Monthly Event</h1>
      <div class="row">

          <div class="col-12 text-center rounded-4">
              <h2 class="text-white mb-4">Event Schedule</h1>
                  <div class="table-responsive">
                      <table class="schedule-table table table-dark">
                          <thead>
                              <tr>
                                  <th scope="col">Date</th>

                                  <th scope="col">Wednesday</th>

                                  <th scope="col">Thursday</th>

                                  <th scope="col">Friday</th>

                              </tr>
                          </thead>

                          <tbody>
                              <tr>
                                  <th scope="row">Day 1</th>

                                  <td class="table-background-image-wrap pop-background-image">
                                      <h3>Pop Jokes of the day</h3>

                                      <p class="mb-2">5:00 - 7:00 PM</p>

                                      <p>By Fatin Hasnat</p>

                                      <div class="section-overlay"></div>
                                  </td>

                                  <td style="background-color: #F3DCD4"></td>

                                  <td class="table-background-image-wrap rock-background-image">
                                      <h3>Stand up Comedian</h3>

                                      <p class="mb-2">7:00 - 11:00 PM</p>

                                      <p>By Gopi Kundu</p>

                                      <div class="section-overlay"></div>
                                  </td>
                              </tr>

                              <tr>
                                  <th scope="row">Day 2</th>

                                  <td style="background-color: #ECC9C7"></td>

                                  <td>
                                      <h3>Jokes Night</h3>

                                      <p class="mb-2">6:30 - 9:30 PM</p>

                                      <p>By Waliur Rahman</p>
                                  </td>

                                  <td style="background-color: #D9E3DA"></td>
                              </tr>

                              <tr>
                                  <th scope="row">Day 3</th>

                                  <td class="table-background-image-wrap country-background-image">
                                      <h3>Country Jokes</h3>

                                      <p class="mb-2">4:30 - 7:30 PM</p>

                                      <p>By Rasel Mahmud</p>

                                      <div class="section-overlay"></div>
                                  </td>

                                  <td style="background-color: #D1CFC0"></td>

                                  <td>
                                      <h3>Free Styles</h3>

                                      <p class="mb-2">6:00 - 10:00 PM</p>

                                      <p>By Members</p>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
          </div>
      </div>
  </div>
</section>

{% endblock %}