<footer class="mt-4 bg-primary row p-5 w-100">
    <div class="col-md-3">
      <h2 class="text-light">Jokes Hub </h2>
      <h6>Home</h6>
      <h6>Our Jokes</h6>
      <h6>Prices</h6>
      <h6>Address</h6>
    </div>
    <div class="col-md-3">
      <h2 class="text-light">Top Jokes category </h2>
      <h6>Horror</h6>
      <h6>Comedy</h6>
      <h6>Programming</h6>
      <h6>Romantic</h6>
    </div>
    <div class="col-md-3">
      <h2 class="text-light">Services</h2>
      <h6>Great Humour</h6>
      <h6>Regular update</h6>
      <h6>Quality</h6>
      <h6>Friendly Community</h6>
    </div>
    <div class="col-md-3">
      <h2 class="text-light">Contact Us</h2>
      <h6>Facebook</h6>
      <h6>Twitter</h6>
      <h6>Email</h6>
      <h6>Phone</h6>
    </div>
</footer>