{% extends 'base.html' %}

{% block content %}
<div class="w-100 my-4 pt-5 d-flex justify-content-center">
    <div class="row container-fluid d-flex justify-content-center">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div>
                <h1>Welcome to <span class="text-info">JokesHub</span></h1>
                <p>
                  A joke is a display of humour in which words are used within a specific and well-defined narrative structure to make people laugh and is usually not meant to be interpreted literally.[1] It usually takes the form of a story, often with dialogue, and ends in a punch line, whereby the humorous element of the story is revealed; this can be done using a pun or other type of word play, irony or sarcasm, logical incompatibility, hyperbole, or other means.[2] Linguist Robert Hetzron offers the definition:
                  <br>
                  A joke is a short humorous piece of oral literature in which the funniness culminates in the final sentence, called the punchline… In fact, the main condition is that the tension should reach its highest level at the very end. No continuation relieving the tension should be added. As for its being "oral," it is true that jokes may appear printed, but when further transferred, there is no obligation to reproduce the text verbatim, as in the case of poetry.
                  </p>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
          <img src="https://img.freepik.com/free-photo/man-smiling-with-arms-crossed_1187-2903.jpg" class="d-block w-50" alt="...">
        </div>
    </div>
</div>



<div>
    {% include 'show_jokes.html' with jokes=jokes %}
</div>

<div class="container my-5">
  <h2 class="text-center pb-2 border-bottom border-info my-4">Todays best photo for our jokes lovers!</h2>

  <!-- Gallery -->
<div class="row shadow pt-4">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->
</div>

{% endblock content %}