<nav class="py-3 sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center gap-1 rounded-3 h4 me-4 logo">
      <div class="text-warning fw-bold ps-3 py-2 rotate">
        <i class="fa-regular fa-face-grin-squint-tears"></i>
      </div>
      <div class="py-2">
        <a class="navbar-brand text-warning" href="{% url 'home' %}">JokesHub</a>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li style="width: 70px;" class="nav-item hover-2">
          <a class="nav-link text-light" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li style="width: 90px;" class="nav-item hover-2">
          <a class="nav-link text-light" aria-current="page" href="{% url 'all_jokes' %}">All Jokes</a>
        </li>
        
        
        {% if request.user.is_authenticated %}
          <li style="width: 90px;" class="nav-item hover-2">
            <a class="nav-link text-light" aria-current="page" href="{% url 'addJoke' %}">Add Joke</a>
          </li>
          <li class="nav-item hover-2">
            <a class="nav-link text-light" aria-current="page" href="{% url 'addCategory' %}">Add Category</a>
          </li>
        {% endif %}
        <li style="width: 90px;" class="nav-item hover-2">
          <a class="nav-link text-light" aria-current="page" href="{% url 'about' %}">About Us</a>
        </li>
        <li style="width: 110px;" class="nav-item hover-2">
          <a class="nav-link text-light" aria-current="page" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        {% if request.user.is_authenticated %}
        <li class="nav-item me-3">
          <a style="--clr:#ADFF2F" class="button reg" href="{% url 'profile' %}"><span>Profile</span><i></i></a>
        </li>
          <li class="nav-item login">
            <a style="--clr:#ff0000" class="button" href="{% url 'logout' %}"><span>Logout</span><i></i></a>
          </li>
        {% else %}
          <li class="nav-item me-3">
            <a style="--clr:#0FF0FC" class="button reg" href="{% url 'register' %}"><span>Register</span><i></i></a>
          </li>
          <li class="nav-item login">
            <a style="--clr:#39FF14" class="button " href="{% url 'login' %}"><span>Login</span><i></i></a>
          </li>
        {% endif %}
      </form>
    </div>
  </div>
</nav>
